---
import Layout from '@/components/Layout.astro'
---

<Layout title="404">
  <div class="text-center pt-[45svh]">
    Nothing here!
    <a href="/" class="ml-5 font-medium text-blue-500">Go home</a>
  </div>
</Layout>
