---
import Layout from '@/components/Layout.astro'
---

<Layout title="500">
  <div class="text-center pt-[45svh]">
    Sorry, something went wrong.
    <a href="/" class="ml-5 font-medium text-blue-500">Go home</a>
  </div>
</Layout>
