---
import { Example } from '@/components/Example'
import Layout from '@/components/Layout.astro'
---

<Layout title="Astro">
  <Example client:visible />
</Layout>

<div class="text-red-400">hi</div>
